<app-navbar></app-navbar>

<div class="display">
    <div class="d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="card-header">Reset Password</div>
            <div class="card-body">
                <form [formGroup]="editPassword" (submit)="resetPW()">
                    <div>
                        <label class="form-label">Enter Your Email</label>
                        <input type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid':editPassword.controls['email'].touched && (editPassword.controls['email'].errors?.required || editPassword.controls['email'].errors?.email)}"/>
                        <div *ngIf="editPassword.controls['email'].touched && editPassword.controls['email'].errors?.required" class="text-danger">Email is Required</div>
                        <div *ngIf="editPassword.controls['email'].touched && editPassword.controls['email'].errors?.email" class="text-danger">Invalid Email Format</div>
                    </div>
                    <div>
                        <label class="form-label">Enter Current Password</label>
                        <input type="password" formControlName="currPW" class="form-control" [ngClass]="{'is-invalid':editPassword.controls['currPW'].touched && editPassword.controls['currPW'].errors?.required}"/>
                        <div *ngIf="editPassword.controls['currPW'].touched && editPassword.controls['currPW'].errors?.required" class="text-danger">Current Password is Required</div>
                    </div>
                    <div>
                        <label class="form-label">Enter New Password</label>
                        <input type="password" formControlName="newPW" class="form-control" [ngClass]="{'is-invalid':editPassword.controls['newPW'].touched && (editPassword.controls['newPW'].errors?.required || editPassword.controls['newPW'].errors?.minlength)}"/>
                        <div *ngIf="editPassword.controls['newPW'].touched && editPassword.controls['newPW'].errors?.required" class="text-danger">New Password is Required</div>
                        <div *ngIf="editPassword.controls['newPW'].touched && editPassword.controls['newPW'].errors?.minlength" class="text-danger">Password Must Be At Least 6 Characters Long</div>
                    </div>
                    <div>
                        <label class="form-label">Re-Enter New Password</label>
                        <input type="password" formControlName="reNewPW" class="form-control" [ngClass]="{'is-invalid':editPassword.controls['reNewPW'].touched && editPassword.controls['reNewPW'].errors?.required}"/>
                        <div *ngIf="editPassword.controls['reNewPW'].touched && editPassword.controls['reNewPW'].errors?.required" class="text-danger">New Password is Required</div>
                        <div *ngIf="editPassword.controls['reNewPW'].touched && editPassword.controls['newPW'].touched && editPassword.controls['reNewPW'].errors" class="text-danger">Passwords Do Not Match</div>
                    </div>
                    <button id="updatepw" [disabled]="editPassword.invalid" class="btn btn-primary">Update Password</button>
                <br/>
                </form>
            </div>
        </div>
    </div>
</div>

