<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col">
            <img class="img-fluid float-start rounded" src="{{product[0].image}}">
        </div>
        <div class="col-6">
            <h3 class="display-4">{{product[0].name}}</h3>
            <!-- <app-star-rating [productId]="product[0].id"></app-star-rating> -->
            <a routerLink="/product_details/{{product[0].id}} " routerLinkActive="active"> 
                <app-star-rating [productId]="product[0].id" class="ml-2"></app-star-rating> 
              </a> 
            <br>
            <p class="text-end">{{product[0].description}}</p>
            <p class="text-end">{{product[0].price | currency}}</p>
            <button class="btn btn-outline-success">Add to Cart </button> 
            <!-- (click)="addToCart(product[0]) -->
            
        </div>
       
    </div>

</div>

<br>
    

<app-review [productId]="product[0].id"></app-review>

