<app-navbar></app-navbar>

<div class="d-flex align-items-center justify-content-center">
    <h3>
        To update an existing item enter the existing item's name and then only fill in the form for sections you would like to update.
    </h3>
    
</div>

<div class="display" >
    <div class="d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="card-header">Update Item</div>
            <div class="card-body">                
                <form [formGroup]="updateItemForm" (submit)="submitItemUpdate()" class="col-12">                                                            
                    <div>
                        <label class="form-label">Enter Current Item Name to be updated:  </label>
                        <!-- <input type="currentName" formControlName="name" class="form-control"/> -->
                        <input list="items" formControlName="searchItemName"/>
                        <datalist id="items">
                            <option *ngFor="let product of allProducts; let i = index;">
                                {{product.name}} Item ID: {{i}}
                            </option>
                        </datalist>
                    </div>

                    <div>
                        <label class="form-label">Item ID:</label>
                        <input readonly formControlName="id" class="form-control"/>
                    </div>

                    <div>
                        <label class="form-label">Update Item Name:</label>
                        <input formControlName="name" class="form-control" [ngClass]="{'is-invalid':updateItemForm.controls['name'].touched && updateItemForm.controls['name'].errors?.required}"/>
                        <div *ngIf="updateItemForm.controls['name'].errors?.required && updateItemForm.controls['name'].touched" class="text-danger">Name Is Required</div>
                    </div>
                    <div>
                        <label class="form-label">Update Item Description:</label>
                        <input  formControlName="description" class="form-control"/>
                    </div>
                    <div>
                        <label class="form-label">Update Item Price</label>
                        <input formControlName="price" class="form-control" [ngClass]="{'is-invalid':updateItemForm.controls['price'].touched && updateItemForm.controls['price'].errors?.required}"/>
                        <div *ngIf="updateItemForm.controls['price'].errors?.required && updateItemForm.controls['price'].touched" class="text-danger">Price Is Required</div>
                        <div *ngIf="updateItemForm.controls['price'].touched && updateItemForm.controls['price'].errors?.pattern" class="text-danger">Price Must be in Valid Form (ex. 4.99)</div>
                    </div>
                    <div>
                        <label class="form-label">Update Item Quantity:</label>
                        <input formControlName="quantity" class="form-control" [ngClass]="{'is-invalid':updateItemForm.controls['quantity'].touched && (updateItemForm.controls['quantity'].errors?.required || updateItemForm.controls['quantity'].errors?.min)}"/>
                        <div *ngIf="updateItemForm.controls['quantity'].errors?.required && updateItemForm.controls['quantity'].touched" class="text-danger">Quantity Is Required</div>
                        <div *ngIf="updateItemForm.controls['quantity'].errors?.min && updateItemForm.controls['quantity'].touched" class="text-danger">Quantity Must Be At Least 0</div>
                    </div>
                    <div>
                        <label class="form-label">Update Image URL:</label>
                        <input formControlName="image" class="form-control" [ngClass]="{'is-invalid':updateItemForm.controls['image'].touched && updateItemForm.controls['image'].errors?.required}"/>
                        <div *ngIf="updateItemForm.controls['image'].errors?.required && updateItemForm.controls['image'].touched" class="text-danger">Image URL Is Required</div>
                    </div>
                    
                    <button id="createitem" [disabled]="updateItemForm.invalid" class="btn btn-primary">Submit Item Updates</button>
                <br/>
                </form>
            </div>
        </div>
    </div>
</div>

