<app-navbar></app-navbar>
<div class="container">
    <div class="row align-items-start" id="cardView">
       <div class="col" *ngFor="let product of allProducts">
        <a *ngIf="isEditing; else notEditing">
            <app-product-card
                class="cardListItem"
                [productInfo]="product"
                [something]="true"
            ></app-product-card> 
        </a>
        <ng-template #notEditing>
            <app-product-card
                class="cardListItem"
                [productInfo]="product"
            ></app-product-card> 
        </ng-template>
        </div> 
    </div>
</div>
<footer id="sticky-footer" class="flex-shrink-1 py-2 mt-5 text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Revature</small>
      <p class="people">By You People</p>
    </div>
  </footer>
